<form class="" action="/tours/<%= @tour.id %>" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= @tour.name %>">
  <label for="start-date">Start date:</label>
  <input type="date" name="start_date" id="start-date" value="<%= @tour.start_date %>">
  <label for="days">Days:</label>
  <input type="number" name="days" id="days" value="<%= @tour.days %>">
  <label for="price">Price:</label>
  <input type="number" name="price" id="price" value="<%= @tour.price %>">
  <label for="pic-url">Picture url:</label>
  <input type="text" name="pic_url" id="pic-url" value="<%= @tour.pic_url %>">
  <label for="vehicle">Pick a bus:</label>
  <select class="" name="vehicle_id" id="vehicle">
    <% @vehicles.each do |vehicle| %>
      <option value="<%= vehicle.id %>"<% if @tour.vehicle_id == vehicle.id %> selected <% end %>><%= vehicle.reg_number %></option>
    <% end %>
  </select>
  <input type="submit" value="update tour">
</form>
