<p><label for="name">Name:<%= @tour.name %></label></p>
<p><label for="start-date">Start date:<%= @tour.start_date %></label></p>
<p><label for="days">Days:<%= @tour.days %></label></p>
<p><label for="price">Price:£<%= @tour.price %></label></p>
<p><label for="pic-url">Picture url:<%= @tour.pic_url %></label></p>
<p><label for="vehicle_id">Vehicle id:<%= @tour.vehicle_id %></label></p>
