<a href="/tourists/new">Add tourist</a>
<% @tourists.each do |tourist| %>
  <div class="box-container">
    <ul>
      <li><%= tourist.name %></li>
      <li><%= tourist.email %></li>
      <li><%= tourist.phone_number %></li>
      <li><%= tourist.address %></li>
      <li><%= tourist.funds %></li>  
      <li><a href="/tours_of_tourist/<%= tourist.id %>">check tours</a></li>
    </ul>
  </div>
<% end %>
