<a href="/tourists/new">Add tourist</a>
<table>
  <tr>
    <th>Name</th>
    <th>email</th>
    <th>phone number</th>
    <th>address</th>
    <th>funds</th>
    <th></th>
  </tr>
  <% @tourists.each do |tourist| %>
    <tr>
      <td><%= tourist.name %></td>
      <td><%= tourist.email %></td>
      <td><%= tourist.phone_number %></td>
      <td><%= tourist.address %></td>
      <td><%= tourist.funds %></td>
      <td><a href="/tours_of_tourist/<%= tourist.id %>">check tours</a></td>
    </tr>
  <% end %>
</table>
